<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav>
        <a href="/register">Register</a>
        <a href="/login">Log in</a>
    </nav>
    <h1>Welcome to Change password</h1>
    <% if (errors) { %>
        <% errors.forEach(element=> { %>
            <p>
                <%= element %>
            </p>
        <% }) %>
    <% } %>
    <form action="/change_password" method="post">
        <fieldset>
            <label for="username">Username</label> <br>
            <input type="text" name="username" id="username" placeholder="username"> <br>
            <label for="password">Password</label> <br>
            <input type="password" name="password" id="password" placeholder="password"> <br>
            <label for="new_password">New Password</label> <br>
            <input type="password" name="new_password" id="new_password" placeholder="new password"> <br>
            <label for="confirm_new">Confirm new password</label> <br>
            <input type="password" name="confirm_new" id="confirm_new" placeholder="confirm new password"> <br>
            <button type="submit">Change password</button>
        </fieldset>
    </form>
</body>

</html>